html, body {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 24pt;
    color: #FFFFFF;
}

#container {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#messages {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.message {
    background-color: #000000;
    margin: 0 auto;
    display: inline-block;
}

.messageAuthor {
    font-style: italic;
}

.messageText {
    font-weight: bold;
}
