html, body {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 28pt;
    color: #FFFFFF;
}

#container {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

/* Overload occurs when more than a certain number of messages appear */
.messageOverloadLow {
    font-size: 20pt;
}

.messageOverloadLow > .message {
    padding: 3px 12px !important;
}

.messageOverloadHigh {
    font-size: 14pt;
}

.messageOverloadHigh > .message {
    padding: 1px 8px !important;
}

.message {
    background-color: #000000;
    margin: 0 auto;
    padding: 5px 15px;
    display: inline-block;
}


.messageAuthor {
    font-style: italic;
}

.messageText {
    font-weight: bold;
}
